<h1 class="title is-4"> My Events </h1>


<div class="My Events list">
  <% @user.events.select do |event|  %>
    <p>
    <Strong> Event: </strong>
      <%= event.name %>
      <br />

    <strong> Description: </strong>
      <%= event.description %>
      <br />

    <strong> Location: </strong>
      <%= event.location %>
      <br />

      <%= link_to "Show", event_path(event[:id]) %>

    </p>

  <hr>
  <% end %>


</div>
