/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

body {
  margin: auto;
  background-color: bisque;
}

.navbar {
  background-color: #806D7E;
}
.navbar-item {
  color: whitesmoke;
}
.proj-desc {
  color: #153E7E;
  padding: inherit;
  font-size: 23px;
  font-family: cursive;
  text-align: justify;
}
.button {
  background-color: #307D7E;
  color: ghostwhite;
  border-radius: 10%;
  border-color: #571B7e;
}
.button:hover {
  background-color: #817339;
  color: #FBB917;
}

.title {
  color: #736AFF;
}
.event-list {
  color: #7D2252;
}
.prev-title{
  color: brown;
}
